{% extends "single_content_base.html.twig" %}

{% block title %}{{ "update.title"|trans }}{% endblock %}
{% block description %}{{ "update.description"|trans }}{% endblock %}

{% trans_default_domain "administration_setting" %}


{% block single_content %}
    <div class="row">
        <div class="col-md-4">
            {{ form(settings) }}
        </div>
        <div class="col-md-4">
            <p>
                {{ "update.administrators"|trans }}<br/>
                <span class="text-secondary">{{ "update.administrators_help"|trans }}</span>
            </p>
            {{ form(admins) }}
        </div>
        <div class="col-md-4">
            <p>
                {{ "update.email_receivers"|trans }}<br/>
                <span class="text-secondary">{{ "update.email_receivers_help"|trans }}</span>
            </p>
            {{ form(emails) }}
        </div>
    </div>
{% endblock %}

