{% extends 'layout_base.html.twig' %}
{% import _self as local_macro %}

{% trans_default_domain "administration" %}

{% block title %}{{ "index.title"|trans }}{% endblock %}
{% block description %}{{ "index.description"|trans }}{% endblock %}

{% macro quick_link(name, description, link) %}
    <div class="card w-25">
        <div class="card-body">
            <p>
                {{ description }}
            </p>
            <a class="btn btn-outline-primary" href="{{ link }}">
                {{ name }}
            </a>
        </div>
    </div>
{% endmacro %}

{% block content %}
    <div class="container">
        <div class="row">
            {{ local_macro.quick_link("index.title"|trans({}, "administration_frontend_user"), "index.description"|trans({}, "administration_frontend_user"), path("administration_frontend_users")) }}
            {{ local_macro.quick_link("index.title"|trans({}, "administration_setting"), "index.description"|trans({}, "administration_setting"), path("administration_settings")) }}
        </div>
    </div>
{% endblock %}

